@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root {
    --menu-height: 12.8vh;
    --bgc: #f1f1f1;
    --txc: #474747;
    --light-accent: #d7a079;
    --dark-accent: #4b3e2f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    min-height: 0vh;
    color: var(--txc);
    font-family: 'Zen Maru Gothic', serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-size: unset;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    user-select: none;
    color: inherit;
}

textarea {
    resize: none;
}

img {
    display: block;
}

.visual-hidden {
    display: none;
}

*.forced_hidden {
    display: none !important;
}

body {
    width: min(100%, 1920px);
    min-height: 100vh;
    height: auto;
    position: relative;
    padding-bottom: var(--footer);
    text-align: center;
    margin: 0 auto;
    background-color: var(--bgc);
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
}

/* root-------------------------------------- */
/* ------------------------------------------ */
/* common------------------------------------ */

.menu-overWrap {
    height: var(--menu-height);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.menu {
    height: var(--menu-height);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 5% 7%;
    position: relative;
    overflow: hidden;
}

.menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-82.2vw);
    margin: auto;
    background-color: var(--light-accent);
    width: 264.4vw;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 4px 1px rgba(0 0 0 /.25);
}

.menu a {
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    width: 18vw;
    font-size: 1.2rem;
}

.menu a svg {
    width: 2.4rem;
    height: auto;
    margin-bottom: .4em;
}

.menu .diagnosis {
    width: 20vw;
    font-size: 1.6rem;
}

.menu .diagnosis svg {
    width: 3.6rem;
}

.title {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    font-size: 2.4rem;
    position: relative;
}

.title h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--light-accent);
    border-radius: 4px;
    left: 0;
    right: 0;
    bottom: -0.3em;
    margin: auto;
}

/* common------------------------------------ */
/* ------------------------------------------ */
/* index------------------------------------- */

.index video {
    width: 100%;
    aspect-ratio: 3/4;
    transform: scaleX(-1);
}

.index .tool {
    height: 19.2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}

.index .tool button {
    border: 1px solid #000;
    width: 15vw;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.index .tool .cameraRoll {
    border-radius: 2vw;
}

.index .tool .cameraRoll img {
    object-fit: cover;
}

.index .tool label[for=shoot] {
    width: 20vw;
    aspect-ratio: 1;
    border: 4px solid var(--dark-accent);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index .tool label[for=shoot]::before {
    content: '';
    width: 85%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--dark-accent);
    transition: all .1s ease-in;
}

.index .tool label[for=shoot]:active::before {
    border: none;
    background-color: var(--light-accent);
    width: 100%;
}

.index .tool .switchCamera {
    border-radius: 50%;
}

.index .tool .switchCamera svg {
    width: 60%;
    height: auto;
}

/* index------------------------------------- */
/* ------------------------------------------ */
/* result------------------------------------ */

body.result {
    background-color: var(--dark-accent);
    color: #fff;
}

.result .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(68vh - 100vw / 3 * 4);
    padding: 0 5%;
}

.result .container {
    width: 100%;
    aspect-ratio: 3/4;
    position: relative;
    overflow: hidden;
}

.result .container .resultImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.result .container .printImg {
    --x: 0px;
    --y: 0px;
    position: absolute;
    width: 70%;
    height: auto;
    top: calc(30% + var(--y));
    left: calc(15% + var(--x));
}

.result .hairSelect {
    height: 32vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.result .hairSelect .wrapper {
    width: 19%;
    /* height: 60%; */
    aspect-ratio: 2/5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    transition: all .1s ease-in-out;
    opacity: .5;
}

.result .hairSelect .wrapper img {
    width: 80%;
    aspect-ratio: 2/3;
    border-radius: 5px;
    object-fit: cover;
}

.result .hairSelect .wrapper.current {
    /* transform: scale(1.1); */
    width: 22%;
    font-size: 1.4rem;
    opacity: 1;
}

.result .hairSelect .wrapper.current span {
    width: 100%;
    background-color: rgba(215 160 121 /.3);
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
}

/* result------------------------------------ */
/* ------------------------------------------ */
/* simuration-------------------------------- */

.simuration .content {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, calc(100vw / 3));
    grid-template-rows: calc(100vw / 3);
}

.simuration .content img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}



/* simuration-------------------------------- */
/* ------------------------------------------ */
/* result------------------------------------ */